*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: 900;
}

body {
    height: 100vh;
}

#header {
    background-color: gray;
    height: 10%;
    text-align: center;
}

#navbar {
    background-color: darkcyan;
    height: 10%;
}

#navbar ul {
    display: flex;
}

ul.navlist li{
    list-style: none;
} 

ul.navlist li a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
} 

ul.navlist li a:hover {
    background-color: black;
    color:darkcyan;
}

#main {
    display: flex;
    background-color: darkolivegreen;
    height: 70%;
    text-align: center;
}

.col {
    width: 33.3%;
    height: 100%;
    padding: 15px;
}

.mainimg {
    height:100px;
}

#footer {
    background-color: gray;
    height: 10%;
    text-align: center;
}